html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

img {
    height: 15px;
    width: 15px;
}


/* Визуализация верхней панели */

#header {
    display: flex;
    justify-content: end;
    background: #2f364a;
    height: 5%;
    font-family: sans-serif;
    font-size: 14px;
}

#header_menu_right {
    display: flex;
    align-items: center;
    color: #727c96;
    cursor: pointer;
}

#gray_round_size_black {
    width: 5px;
    height: 5px;
    padding-right: 5px;
}

.size_doe {
    width: 20px;
    height: 20px;
}

.header_menu_right_text {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

#color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    height: 50px;
    width: 100px;
    background-color: #15a4fa;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}


/* Визуализация центральной панели */

#main {
    display: flex;
    height: 90%;
}


/* Визуализация боковой панели */

button {
    color: white;
    background: #f2795a;
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    width: 155px;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5%;
}

button:active {
    background: #e0522e;
}

li {
    list-style-type: none;
    padding: 10px;
}

ul {
    padding-left: 0;
}

#main_menu_left {
    display: flex;
    flex-direction: column;
    width: 12%;
    height: 100%;
    background: #171e2c;
}

#but {
    background: #1f2637;
    padding: 10px;
    border-bottom: 3px solid #252c3d;
}

#list1,
#list2,
#list3 {
    padding: 5px;
    background: #1f2637;
    color: #727c96;
}

#list1,
#list2 {
    border-top: 3px solid #141825;
    border-bottom: 3px solid #252c3d;
    margin-top: 6px;
    cursor: pointer;
}

#list3 {
    font-family: sans-serif;
    font-size: 12px;
    border-top: 3px solid #141825;
    margin-top: 6px;
    overflow-y: scroll;
    flex: 1;
    padding-left: 16px;
    margin-bottom: 0;
}

.color4::before {
    content: url(img/history.png);
    padding-right: 3px;
    margin-left: -16px;
}

.t {
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

.st {
    font-weight: 800;
}

.еdit_image {
    width: 5px;
    height: 5px;
    padding-right: 10px;
}

.list_text_style {
    font-family: sans-serif;
    font-size: 14px;
}

.list1_size_image {
    padding-right: 10px;
}

#list1 li:hover,
#list2 li:hover {
    background: #15a4fa;
    color: white;
}


/* Поисковик и книги */

#main_books {
    height: 80%;
    width: 88%;
}

#caption {
    background: #eef1f7;
    padding-left: 15px;
    padding-top: 15px;
    font-family: sans-serif;
    font-size: 25px;
    border-bottom: solid 2px silver;
    padding-bottom: 15px;
    color: #50586e;
}

#searchField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eef1f7;
    font-family: sans-serif;
    font-size: 13px;
    height: 10%;
    border-top: solid 2px white;
}

#searchField_menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.main_books__chip {
    display: none;
}

.main_books__label {
    height: 20px;
    color: #8C97B2;
    margin-left: 25px;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
}

.main_books__chip:checked+.main_books__label {
    color: white;
    background-color: #97B3CE;
}


/* Поисковик */

#search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 90px;
    border: solid 1px silver;
    padding: 3px;
    background-color: white;
    width: 450px;
    height: 30px;
    margin-right: 20px;
}

#search_btn_size {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#search-txt {
    margin-left: 10px;
    border: none;
    outline: none;
    color: #7d7f85;
    font-weight: bold;
    width: 400px;
}


/* Визуализация книг */

#books_menu {
    padding: 5px;
    display: flex;
    overflow-y: scroll;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 10px;
}

.books {
    display: inline-flex;
    padding-bottom: 15px;
}

.size-image {
    width: 280px;
    height: 350px;
}

#books_menu>div {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.books_text {
    font-family: sans-serif;
    color: #4a5268;
    font-size: 14px bold;
    padding: 5px;
}

.books_text_small {
    font-family: sans-serif;
    color: #a6afc4;
    font-size: 11px;
    padding: 4px;
}


/*----- Рейтинг в виде звезд-----  */

.rating-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    overflow: hidden;
    width: 210px;
}

.rating-star:not(:checked)>input {
    display: none;
}

.rating-star:not(:checked)>label {
    width: 22px;
    padding: 0;
    cursor: pointer;
    font-size: 30px;
    line-height: 22px;
    color: lightgrey;
}

.rating-star:not(:checked)>label:before {
    content: '★';
}

.rating-star>input:checked~label {
    color: orange;
}

.rating-star:not(:checked)>label:hover,
.rating-star:not(:checked)>label:hover~label {
    color: orange;
}

.rating-star>input:checked+label:hover,
.rating-star>input:checked+label:hover~label,
.rating-star>input:checked~label:hover,
.rating-star>input:checked~label:hover~label,
.rating-star>label:hover~input:checked~label {
    color: orange;
}


/* ----------------------------  */


/* Нижняя панель */

#footer {
    display: flex;
    justify-content: end;
    background: #181e2c;
    height: 5%;
}

#footer_elements {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#footer_elements_question {
    display: flex;
    align-items: center;
    background: #1f2637;
    height: 47px;
    width: 55px;
}

#footer_elements_setting {
    display: flex;
    align-items: center;
    background: #15a4fa;
    height: 47px;
    width: 55px;
}

.footer_elements_size {
    width: 18px;
    height: 18px;
    padding-left: 20px;
}